<h1>Weather Conditions by Day</h1>

<p><a href="/stations">All Stations</a> | <a href="/trips">All Trips</a> | <a href="/">Home</a> | <a href="/conditions/new">Create New Weather Day</a></p>

<div class="container">

  <table class="table">

    <thead>
      <th>Date</th>
      <th>Max Temp</th>
      <th>Min Temp</th>
      <th>Mean Temp</th>
      <th>Mean Humidity</th>
      <th>Mean Visibility</th>
      <th>Mean Wind Speed</th>
      <th>Mean Precipitation</th>
    </thead>

    <tbody>
    <% @conditions.each do |condition| %>
      <tr>
        <th scope="row"><%= condition.id %></th>
          <td><a href="/conditions/<%= condition.id %>"><%= condition.date_id %></a></td>
          <td><%= condition.max_temp %></td>
          <td><%= condition.min_temp %></td>
          <td><%= condition.mean_temp %></td>
          <td><%= condition.mean_humidity %></td>
          <td><%= condition.mean_visibility %></td>
          <td><%= condition.mean_wind_speed %></td>
          <td><%= condition.precipitation %></td>
          <td><button type="button"><a href="/conditions/<%= condition.id %>/edit">Edit Weather</a></button></td>
          <td><form action="/conditions/<%= condition.id %>" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            <input type="submit" value="Delete" />
            </form></td>
    <% end %>
  </tbody>

</table>

</div>
