<!DOCTYPE html>
<html lang="en">
  <head>
    <title> Weather Condition Day <%= @condition.id %> </title>
  </head>

  <h1><%= BikeDate.find(@condition.date_id).date.strftime("%B %d, %Y") %></h1>

  <body>
    <div class="container">

      <table class="table">

        <thead>
          <th>ID #</th>
          <th>Max Temp</th>
          <th>Min Temp</th>
          <th>Mean Temp</th>
          <th>Mean Humidity</th>
          <th>Mean Visibility</th>
          <th>Mean Wind Speed</th>
          <th>Precipitation</th>
        </thead>

        <tbody>
          <tr>
            <th scope="row>"><%= @condition.id %></th>
              <td><%= @condition.max_temp %></td>
              <td><%= @condition.min_temp %></td>
              <td><%= @condition.mean_temp %></td>
              <td><%= @condition.mean_humidity %></td>
              <td><%= @condition.mean_visibility %></td>
              <td><%= @condition.mean_wind_speed %></td>
              <td><%= @condition.precipitation %></td>
        </tbody>
      </table>
    </div>
  </body>
</html>
