<h1>Trips</h1>

<div class="container">

  <table class="table">

    <thead>
      <th> Trip # </th>
      <th>Start Station</th>
      <th>Date</th>
      <th>End Station</th>
      <th>Duration</th>
    </thead>

    <tbody>
    <% @trips.each do |trip| %>
      <tr>
        <th scope="row"><%= trip.id %></th>
          <td><a href="/trips/<%= trip.id %>"><%= trip.id %></a></td>
          <td><%= Station.find(trip.start_station) %></td>
          <td><%= Date.find(trip.start_date) %></td>
          <td><%= Station.find(trip.end_station) %></td>
          <td><%= trip.duration %></td>
          <td><button type="button"><a href="/trips/<%= trip.id %>/edit">Edit</a></button></td>
          <td><form action="/trips/<%= trip.id %>" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            <input type="submit" value="Delete" />
            </form></td>
    <% end %>
  </tbody>

</table>

</div>
