<!DOCTYPE html>
<html lang="en">
  <head>
    <title> <%= @station.name %> </title>
  </head>

  <h1><%= @station.name %></h1>

  <p><a href="/">Home</a> | <a href="/stations">All Stations</a> | <a href="/trips">All Trips</a> | <a href="#">Edit</a> | <a href="#">Delete</a></p>

  <body>

    <div class="container">

      <table class="table">

        <thead>
          <th>Station ID #</th>
          <th>Dock Count</th>
          <th>City</th>
          <th>Installation Date</th>
        </thead>

        <tbody>
          <tr>
            <th scope="row>"><%= @station.id %></th>
              <td><%= @station.dock_count %></td>
              <td><%= @city.find(@station.city_id).city %></td>
              <td><%= @station.installation_date %></td>
        </tbody>
      </table>
    </div>
  </body>
</html>
