<<<<<<< HEAD
<h1>Station Dashboard</h1>

<div class="album">
  <div class="jumbotron container">
    <div class="row">

    <div class="col-md-6">
      <h3 class="card-text">Total Number of Stations</h3>
      <h4><%= Station.total_stations %></h4>
    </div>

    <div class="col-md-6">
      <h3>Average Bikes Per Station</h3>
      <h4> <%= Station.average_bikes_per_station.to_i %></h4>
    </div>

    <div class="col-md-6">
      <h3>Stations With Most Bikes</h3>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Stations <span class="caret"></span></a>
        <% Station.stations_with_most_bikes_available.each do |station| %>
        <ul>
          <li><a href="/stations/<%= station.id %>"><%= station.name %></a></li>
        </ul>
        <% end %>
      </li>
      <h5>Number of Bikes: <%= Station.most_available %></h5>
    </div>

  <div class="col-md-6">
    <h3>Stations With Least Bikes</h3>
    <select class="" name="stations[name]">
      <% Station.stations_with_least_bikes_available.each do |station| %>
        <option value=<%= station.id %>><%= station.name %></option>
      <% end %>
    </select>
    <h5>Number of Bikes: <%= Station.least_available %></h5>
  </div>

  <div class="col-md-6">
    <h3>Newest Station</h3>
    <h4><%= (Station.most_recent_install_station)[0].name %></h4>
   </div>

    <div class="col-md-6">
      <h3>Oldest Stations</h3>
      <h4> <% (Station.oldest_installed_station).each  do |station| %>
      <%= station.name + " " %>
      <% end %></h4>
    </div>

  </div>
 </div>
</div>
