<h1>Trips Dashboard</h1>

<div class="album">
  <div class="jumbotron container">
    <div class="row">

    <div class="col-md-12">
      <h3 class="">Average Ride Duration</h3>
      <h4><%= Trip.average_duration_of_a_ride %></h4>
    </div>

    <div class="col-md-6">
      <h3 class="card-text">Longest Ride</h3>
      <h4><%= Trip.longest_duration_of_a_ride %></h4>
    </div>

    <div class="col-md-6">
      <h3>Shortest Ride</h3>
      <h4> <%= Trip.shortest_duration_of_a_ride %></h4>
    </div>

    <div class="col-md-6">
      <h3>Stations With Most Rides Beginning @</h3>
      <h4> <%= Trip.start_station_with_most_rides %></h4>
    </div>

    <div class="col-md-6">
      <h3>Stations With Most Rides Ending @</h3>
      <h4> <%= Trip.end_station_with_most_rides %></h4>
    </div>

  <div class="col-md-12">

    <table class="table">

    <thead>
      <th>August</th>
      <th>September</th>
      <th>October</th>
      <th>November</th>
      <th>December</th>
      <th>January</th>
      <th>February</th>
      <th>March</th>
      <th>April</th>
      <th>May</th>
      <th>June</th>
      <th>July</th>
      <th>2013</th>
      <th>2014</th>
      <th>2015</th>
    </thead>

      <tbody>
      <% @Trips.monthly_subtotal_of_trips_per_year.each do |station| %>
        <tr>
          <th scope="row"><%= station. %></th>
            <td><a href="/stations/<%= station.id %>"><%= station.name %></a></td>
            <td><%= station.dock_count %></td>
            <td><%= station.city_id %></td>
            <td><%= station.installation_date %></td>
            <td><button class="type="button"><a href="/stations/<%= station.id %>/edit">Edit</a></button></td>
            <td><form action="/stations/<%= station.id %>" method="post">
              <input type="hidden" name="_method" value="DELETE" />
              <input type="submit" value="Delete" />
              </form></td>
      <% end %>
    </tbody>
  </table>
  </div>

  <div class="col-md-6">
    <h3>Newest Station</h3>
    <h4><%= (Station.most_recent_install_station)[0].name %></h4>
   </div>

    <div class="col-md-6">
      <h3>Oldest Station</h3>
      <h4> <% (Station.oldest_installed_station).each  do |station| %>
      <%= station.name + " " %>
      <% end %></h4>
    </div>

  </div>
 </div>
</div>
